/* Carousel.scss */

.carousel .slide {
    background: none;
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border-radius: 4px;
  }
  