// variables.scss

$light-bg-color: #ffffff;
$light-text-color: #333333;
$dark-bg-color: #1a1a1a;
$dark-text-color: #f1f1f1;
$accent-color: #ff4081;

$input-border-color: #ccc;
$input-focus-border-color: #333;

$button-bg-color: #333;
$button-text-color: #fff;
$button-hover-bg-color: #555;
